body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.color-name{
    color: orange ;
}
.flexable-container{
    display: flex;
    margin-bottom: 100px;
}
.box1{
    width: 50%;
    padding-left: 5%;
}
.box1 img{
    width: 80%;
}
.hire-me-button{
    text-decoration:none;
    background-image: linear-gradient(orange, tomato );
    color: white;
    font-weight: 700;
    padding: 10px 40px;  
}
.top-banner{
    background-image: url(resource/top-banner.png);
    background-repeat: no-repeat;
}
.download-button{
    text-decoration:none;
    background-image: linear-gradient(brown, red );
    color: white;
    font-weight: 700;
    padding: 10px 40px; 
}
.secend-banner{
    background-image: url(resource/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}
#dream-text{
    margin-right: 120px;
}

.experience{
    background-image: url(resource/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
}
.exp-box{
    box-shadow: 10px 10px 50px grey;
    width: 40%;
    height: 400px;
    margin-left: 5% ;
    margin-right: 5%;
    padding-left: 25px;
}
#exp1{
    border-left: 7px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c);
    border-image-slice: 1;
}
#exp2{
    border-left: 7px solid;
    border-image: linear-gradient(#f63cc8, #0c3f9f);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}